  <%= turbo_stream.replace dom_id(@loot_table, "roll") do %>
    <div id="<%= dom_id(@loot_table, 'roll') %>">
      <p>You rolled</p>
        <% if @roll %>
          <p><%= @roll.name %><p>
        <% else %>
          <p>None</p>
        <% end %>
    </div>
  <% end %>
