  <%= turbo_stream.replace dom_id(@loot_table, "roll") do %>
    <div id="<%= dom_id(@loot_table, 'roll') %>">
      <p class="text-xl">You rolled</p>
        <% for item in @roll.loot %>
          <p><%= item.quantity %> <%= item.name %><p>
        <% end %>
    </div>
  <% end %>
